[package]
name = "bureau"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "bureau-server"
path = "src/bin/server.rs"

[[bin]]
name = "bureau-client"
path = "src/bin/client.rs"

[[bench]]
name = "search_in_block"
harness = false

[dependencies]
anyhow = "1.0.89"
bloomfilter = "1.0.14"
bytes = "1.7.2"
clap = { version = "4.5.9", features = ["derive"] }
crc32fast = "1.4.2"
futures = { version = "0.3.30", features = ["thread-pool"] }
tokio = { version = "1.40.0", features = ["full", "tracing"] }
tokio-stream = { version = "0.1.16", features = ["full"] }
tokio-util = { version = "0.7.11", features = ["full"] }
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", features = ["fmt", "ansi", "env-filter", "tracing-log"] }
uuid = { version = "1.10.0", features = ["v7"] }

[dev-dependencies]
criterion = "0.5.1"
random-string = "1.1.0"
